html {
  color: #f8f8f2;
  background: #272822;
}

a {
  color: #66d9ef;
}

a:visited {
  color: #90908a;
}

a:active {
  color: #a6e22e;
}

blockquote {
  border-color: #666;
}

pre {
  border-color: #666;
}

hr {
  background-color: #666;
}
