html, body {
  margin: 0;
  padding: 0;
}

html {
  font: 1.125rem/1.5rem Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2rem 0 1rem;
  line-height: 1em;
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 576px) {
  h1 {
    text-align: left;
  }
}

.author {
  margin-top: 0.5rem;
  text-align: center;
}

@media (min-width: 576px) {
  .author {
    text-align: left;
  }
}

h2 {
  font-size: 1.389rem;
  line-height: 1.75rem;
}

p {
  margin: 1rem 0;
}

ul, ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

blockquote {
  margin: 1rem 0;
  padding-left: 1rem;
  border-left: solid 0.33rem #ddd;
  font-style: italic;
}

pre {
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
  border: solid 1px #ddd;
  font-size: 1rem;
  line-height: 1.4rem;
  overflow: auto;
}

small {
  font-size: 0.833rem;
}

hr {
  margin: 2rem 0;
  border: none;
  height: 1px;
  background: #ddd;
}

body {
  box-sizing: border-box;
  max-width: 650px;
  padding: 1rem;
  margin: 0 auto;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}
